server:
  port: 8761

security:
  user:
    password: ${eureka.password} # Don't use a default password in a real app

info:
  component: Discovery Server

eureka:
  # Configure standalone mode, see http://cloud.spring.io/spring-cloud-netflix/spring-cloud-netflix.html#_standalone_mode
  client:
    registerWithEureka: true
    fetchRegistry: false
    registryFetchIntervalSeconds: 5
    instanceInfoReplicationIntervalSeconds: 5
    initialInstanceInfoReplicationIntervalSeconds: 5
  instance:
    leaseRenewalIntervalInSeconds: 3
    prefer-ip-address: false
    ip-address: ${external.ip:${spring.cloud.client.ipAddress:localhost}}
    metadataMap:
      instanceId: ${spring.application.instance_id:${random.value}}
    hostname: ${vcap.application.uris[0]}
    home-page-url: http://${eureka.instance.hostName}
    status-page-url: http://${eureka.instance.hostname}/info
    health-check-url: http://${eureka.instance.hostname}/health
  server:
    # Disable self-preservation during development, see https://github.com/Netflix/eureka/wiki/Understanding-Eureka-Peer-to-Peer-Communication
    enableSelfPreservation: false
    # renewalPercentThreshold: 0.49
    # renewalThresholdUpdateIntervalMs

    # Set this only for this sample service without which starting the instance will by default wait for the default of 5 mins
    waitTimeInMsWhenSyncEmpty: 0

    # for the example, set this to zero as we will not have peers to sync up with.
    # Do not set in a real environment with multi-node eureka clusters.
    numberRegistrySyncRetries: 0

    response-cache-update-interval-ms: 1000
  password: ${SECURITY_USER_PASSWORD:password}

logging:
  root: WARN
  # Set INFO to see the allocated port
  org.springframework.boot.context.embedded.tomcat.TomcatEmbeddedServletContainer: INFO
  org.springframework.boot.context.embedded.undertow.UndertowEmbeddedServletContainer: INFO

---
spring:
  profiles: local

eureka.client.serviceUrl.defaultZone: ${service-registry.uri:http://localhost:8761}/eureka/
  
---
spring:
  profiles: development
logging:
  level:
    org.springframework.boot.context.embedded.tomcat: INFO  # Required for deploy script to be able to read port number from log file

eureka.client.serviceUrl.defaultZone: ${service-registry.uri:http://localhost:8761}/eureka/
