version: '3'

services:
  config:
    image: fsdapps/config-server:0.0.1-SNAPSHOT
    ports:
    - 8888
    environment:
      - SPRING_PROFILES_ACTIVE=docker
      - "ES_JAVA_OPTS=-Xms256m -Xmx256m"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8888/health"]
      interval: 10s
      timeout: 5s
      retries: 10
  discovery:
    image: fsdapps/discovery-server:0.0.1-SNAPSHOT
    volumes:
    - ./wait-for-it.sh:/wait-for-it.sh
    command: sh -c './wait-for-it.sh http://config:8888/health'
    ports:
    - 8761
    environment:
      - "ES_JAVA_OPTS=-Xms256m -Xmx256m"
      - SPRING_PROFILES_ACTIVE=docker
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8761/health"]
      interval: 10s
      timeout: 5s
      retries: 10
    depends_on:
    - config
  edge:
    image: fsdapps/edge-server:0.0.1-SNAPSHOT
    volumes:
    - ./wait-for-it.sh:/wait-for-it.sh
    command: sh -c './wait-for-it.sh http://discovery:8761/health'
    ports:
    - 8765
    environment:
      - "ES_JAVA_OPTS=-Xms256m -Xmx256m"
      - SPRING_PROFILES_ACTIVE=docker
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8765/health"]
      interval: 10s
      timeout: 5s
      retries: 10
    depends_on:
    - config
    - discovery
  hystrix:
    image: fsdapps/hystrix-dashboard:0.0.1-SNAPSHOT
    volumes:
    - ./wait-for-it.sh:/wait-for-it.sh
    command: sh -c './wait-for-it.sh http://edge:8765/health'
    ports:
    - 7979
    environment:
      - "ES_JAVA_OPTS=-Xms256m -Xmx256m"
      - SPRING_PROFILES_ACTIVE=docker
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:7979/health"]
      interval: 10s
      timeout: 5s
      retries: 10
    depends_on:
    - config
    - discovery
    - edge
  turbine:
    image: fsdapps/turbine-server:0.0.1-SNAPSHOT
    volumes:
    - ./wait-for-it.sh:/wait-for-it.sh
    command: sh -c './wait-for-it.sh http://edge:8765/health'
    ports:
    - 8989
    environment:
      - SPRING_PROFILES_ACTIVE=docker
      - "ES_JAVA_OPTS=-Xms256m -Xmx256m"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8989/health"]
      interval: 10s
      timeout: 5s
      retries: 10
    depends_on:
    - config
    - discovery
    - edge
  auth:
    image: fsdapps/auth-server:0.0.1-SNAPSHOT
    volumes:
    - ./wait-for-it.sh:/wait-for-it.sh
    command: sh -c './wait-for-it.sh http://edge:8765/health'
    ports:
    - 9090
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9090/health"]
      interval: 10s
      timeout: 5s
      retries: 10
    environment:
    - SPRING_PROFILES_ACTIVE=docker
    - "ES_JAVA_OPTS=-Xms256m -Xmx256m"
    depends_on:
    - config
    - discovery
    - edge
  mysql:
    image: mysql
    container_name: mysql-db
    ports:
      - 3306:3306
    environment:
      MYSQL_ROOT_PASSWORD: "fsd"
      MYSQL_DATABASE: "fsd"
      MYSQL_USER: "fsd"
      MYSQL_PASSWORD: "fsd"
    volumes:
      - mysql_data:/var/lib/mysql
    restart: always
    depends_on:
    - config
    - discovery
    - edge

volumes:
  mysql_data:
