server.port: 8888

git_url: github.com

spring:
  cloud:
      config:
        server:
          git:
            uri: "https://git@${git_url}/SujitDeshpande/support-services.git"
            searchPaths: config*,edge*,discovery*,hystrix*,turbine*,zipkin*
            search-paths: config
            repos:
              inventory:
                pattern: product*,location*,odc*,inventory-composite*
                uri: "ssh://git@${git_url}/fp/inventory-services.git"
                search-paths: config

logging:
  pattern:
    console: "%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:%wEx}"
    file: "%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:%wEx}"

---
spring:
  profiles: local
logging:
#  file: logs/config-server.log
---
spring:
  #use this if running locally from your development environment
  profiles: development
logging:
#  file: /apps/microservices/logs/support/config-server.log
  level:
    org.springframework.boot.context.embedded.tomcat: INFO  # Required for deploy script to be able to read port number from log file
---
spring:
  profiles: qa1
logging:
  level:
    com.fglsports.support: INFO
    org.apache: ERROR
    org.springframework: INFO
    # Required for deploy script to be able to read port number from log file
    org.springframework.boot.context.embedded.tomcat: INFO
    springfox.documentation: ERROR
    org.hibernate: ERROR
    com.netflix: ERROR
#  file: /apps/microservices/logs/support/config-server.log